* {
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0; 
}

.grid-container {
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
} 

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;

}

.main {
    display: grid;
    grid-area: main;
}


.widget-container-full, .widget-container-half {
    width: 95vw;
}

/*header*/

.header-container {
    display: flex;
    background-color:#92a1cf;
    width: 100vw; 
    color: whitesmoke;
    justify-content: space-between;
    font-size: 0.7em;
}

.header-container h1 {
    display: flex;
    justify-content: flex-start;
    padding: 10px; 
}

.header-group {
    display: flex;
    justify-content: flex-end;
}

#vertical {
    border-right: .5em ridge #d3d3d3;
    border-width: .1em;
    padding: 5px; 
}

.bell-icon {
    width: 3em; 
    height: 3em; 
    padding: 5px; 
}

.bell-icon:hover { 
    transform: rotate(0.50rad);
}

.bell {
    fill: white; 
    transform-origin: 50% 50%;
}

.logged-in {
    color: #32cd32; 
    width: 1.5em; 
    height: 1.5em; 
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px; 
    padding-left: 0px; 
}

.student-name {
    display: flex;
    align-items: center;
}

/*navigation*/

.nav-container {
    display: flex; 
    background-color: #4C516D; 
}

.nav-links {
    display: flex;
    flex-direction: row;
    width: 100vw; 
    justify-content: space-evenly;
}

.nav-links li {
  list-style: none;
}

/*svg*/

.home-icon, 
.chart-icon, 
.people-icon, 
.settings-icon {
    width: 3em;
    height: 3em; 
}

.home-fill,
.people-fill, 
.settings-fill, 
.chart-fill {
    fill: white;
}



/*images*/

.member-1{
    border-radius: 50%;
    width: 4em; 
    height: 4em;
    padding: 5px; 
}

/*main*/

.main-header {
    display: grid; 
}

.alert {
    display: flex;
    margin: 20px;
    padding: 10px 0px 10px 10px; 
    color: whitesmoke;
    background-color: #92a1cf;
    border-radius: 5px;
}

.alert-banner {
    display: flex;
    flex-direction: row;  
    font-size: larger;  
    word-spacing: 0.2em;
}

.alert-banner-close {
    padding-left: 60px;
}

.traffic-nav-link {
    list-style: none;
  }


@media (min-width: 768px) {

    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas: 
            "header header"
            "nav main";
    }

    /*navigation*/

    .nav-container {
        display: flex; 
        flex-direction: column;
        height: 100vh;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 6vw;
    }

    .nav-links li {
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 4px; 
      }


    .main {
        grid-template-columns: 50%;
    }

    .traffic, .social {
        grid-column: 1 /span 1; ;
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1; 
    }

    .widget-container-full {
        width: 90vw;
    }
    
    .widget-container-half {
        width: 45vw; 
    }
}

@media (min-width: 1024px){
    .grid-container {
        grid-template-areas:
          'header header header header header header'
          'nav nav main main main main';
    }

    /*navigation*/

    .nav-container {
        display: flex; 
        flex-direction: column;
        height: 100vh;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 6vw;
    }

    .nav-links li {
        list-style: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 4px; 

      }

    
}